// Place all the styles related to the battle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#single_div{

	width: 200px;
	height: 200px;
	background: #f3d4cc;
	cursor: pointer;
}

#tourny{

	width: 200px;
	height: 200px;
	background: #d411c6;
}
