// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}







#confirm{
	grid-column: 2 / 12;
	width: 100%;
	background-color: pink;
	display: none;

}


.main_table{

	grid-column: 2 / 12;
	width: 100%;
	
}


footer{

	grid-column: 1 / 13;
	background-color: pink;
}

.green{

	background-color: rgba(41, 232, 25, .1);


}

.red{

	background-color: rgba(232, 24, 24, .1);
}


.side_symbol, #confirm_abbr{
	
	font-size: .5em;
	color: red;


}

.side_cash{
	
	font-size: .75em;
	

}
table{
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
	
	text-align: center;

} 

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    
    background-color: #4CAF50;
    color: white;
}




.tableImage img{
	width: 25px;
	height: 25px;
}

.button{
	width: 50px;
	height: 50px;
	background-color: blue;
}

//.emptydiv{
//	content: '';
//	grid-row: 1 / 2;
//}
#outter_box{
	@include grid-visual(black, $neat-grid);
	width: 100%;
	background-color: yellow;
	//display: none;
	//grid-row: 2 / 3;
};

.table{
	//width: 100%;
	//grid-row: 2 / 3;
	//display: none;
}

.footer{
	grid-row: 3 / 4;
	background-color: #g5g5g5;
	width: 100%;
	height: 50px;
}

#update_list {
	height: 200px;
	width: 200px;
	background-color: red;
	font-size: 3em;


};









#confirm_grid{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	//grid-gap: 1em;
}

#confirm_quantity{


	

	& input{
		width: 40px;
		height: 25px;
	}

}

#confirm_logo{

	grid-column: 1 / span 1;
	justify-self: end;

	& img{
		
		height: 56px;

	}
}

#confirm_name{

	grid-column: 2 / span 2;
	margin: 0;
}